extends layout

block content
  h1= title
  p Welcome to #{title}

  div
    div.movie-card#oceans-11
     h1.movie-title Ocean's 11
    img.movie-poster(src="/images/kasperskyStat.png")
    ul.genre-list
      li Comedy
      li Thriller
