extends layout

block content
  h1= title
  p Welcome to #{title}

  div
    div.IOTAInteraction#GetAndSendData.body
      form#SendData(action="/", method="post") 
        h1.send-title Send Data
        button#sendbutton.button(type="submit") Send Data
