extends layout

block content
  h1= title
  p Welcome to #{title}

  p#dataField #{dataField} results

  script.
    var pTag = document.getElementById("dataField");

    function getData(){
      var pathname = window.location.pathname;
      fetch(pathname + "/sub")
      .then(response => response.json())
      .then(data => pTag.innerHTML = JSON.stringify(data))
    }

    function doIota(){
      var pathname = window.location.pathname;
      fetch(pathname + "/writeToIota")
      .then(response => response.text())
      .then(data => pTag.innerHTML = data)
    }

    function getIota(){
      var pathname = window.location.pathname;
      fetch(pathname + "/getIotaData")
      .then(response => response.text())
      .then(data => pTag.innerHTML = data)
    }        

  div.body#dynamicContent
    button(type="button" name="getMyStrom" onclick="getData();") Get Panel Data
    button(type="button" name="writeToIota" onclick="doIota();") Write to Iota
    button(type="button" name="writeToIota" onclick="getIota();") Get Iota

  div.body#passwordForm
    body
      form(action='/iota/listAddresses', method='POST')
          input(type='text', name="dbname", value="", placeholder="Enter dbname")
          input(type='text', name='accountName', value='', placeholder="Enter accountName")
          input(type='password', name='password', value='', placeholder="Enter password")
          input(type='submit', value='Submit')

  div.body#goBack
    a(href="/") index