extends layout

block content
  p Manage your #{title} data

  p#dataField #{dataField} results

  div.body#dynamicContent
    body
      form(action='/setupDBandAccount', method='POST')
          input(type='text', name="dbname", value="", placeholder="Enter dbname")
          input(type='text', name='accountName', value='', placeholder="Enter accountName")
          input(type='password', name='password', value='', placeholder="Enter password")
          input(type='submit', value='Submit')