doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    div.body#navigation
    a(href="/") index
    br
    a(href="/iota") iota
    br
    a(href="/iotaSetup") iota Setup
